:root {
  --white: #fff;
  --background: #F2F3F5;
  --gray-line: #DCDDE0;
  --text: #666;
  --text-highlight: #B3B9FF;
  --title: #2E384D;
  --red: #E83F5B;
  --green: #4CD62B;
  --blue: #5965E0;
  --blue-dark: #4953B8;
  --blue-twitter: #2AA9E0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  font-weight: inherit;
}
body {
  background-color: var(--background);
  color: var(--text);
}
@media screen and (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}
@media screen and (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body, input, textarea, button {
  font-weight: 400;
  font-size: 1rem;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}
button {
  cursor: pointer;
  outline: none;
}
a {
  text-decoration: none;
  color: inherit;
}

.container {
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: column;
}